:root {
    box-sizing: border-box;
    text-underline-position: under
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    width: 756px;
    height: 1080px;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
}

/*Noto Sans
/* info direction */
.wrapper {
    background: #E8E8E8;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    width: 756px;
    height: 1080px;

}

/* 2480 x 3508 */
/* main content indent */
.main-content {
    padding: 24px 32px;

}

/* sidebar */
.sidebar {
    background: #BFBABA;
    padding: 0;
    box-sizing: border-box;
    width: 370px;
}

.sb-content {
    padding: 28px;
    box-sizing: border-box;
}

/* contacts */
.contacts-title {
    color: #161D2A;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 4px;

    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.contacts-type {
    color: #161D2A;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 8px;
}

.contacts-link {

    font-size: 12px;
    font-weight: 400;

    text-decoration-line: underline;
}

.contacts-item {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 4px;
}

.contacts-container {
    margin-bottom: 20px;
}

/* skills */
.skills-container {
    margin-bottom: 20px;
}

.skills-title {
    color: #161D2A;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 4px;

    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.skills-list {
    padding-left: 16PX;
    list-style-type: disc;
    color: #161D2A;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

/* main content */
.my-photo {
    display: block;
    width: 250px;
    margin: 0 auto;
    border-radius: 40px;
}

.my-profession {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 0.05em;

}

.my-name {
    text-transform: uppercase;
    letter-spacing: 0.07em;
    color: #000;
    font-size: 30px;
    font-weight: 700;

    margin-top: 0;
    margin-bottom: 8px;
    line-height: 30px;
}

.my-descr {
    margin-top: 16px;
    color: #595959;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.my-info {
    margin-bottom: 20px;
}

/* my projects */
.my-projects-title {
    color: #161D2A;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 4px;

    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.my-projects-list {

    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.my-projects-list li {
    margin-bottom: 4px;
}

.my-projects-item-link {
    color: #005FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.my-projects-item-tech {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.my-projects-container {
    margin-bottom: 20px;
}

/* work experience */

.work-experience-title {
    color: #161D2A;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 4px;

    text-transform: uppercase;
    letter-spacing: 0.18em;
}

.work-experience-company {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.company-name {
    color: #6D9BF5;
}

.work-experience-period {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 8px;
}

.work-experience-period-separator {
    color: #000;
}

.work-experience-duties-list {
    list-style-type: disc;
    color: #595959;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding-left: 20px;
}

.work-experience-container {
    margin-bottom: 12px;
}

/* Education */
.education-container {
    margin-top: 20px;
}

.education-header {
    color: #161D2A;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 4px;

    text-transform: uppercase;
    letter-spacing: 0.18em;
}

.education-organization {
    margin-top: 8px;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 14px;

    line-height: normal;
}

.education-profession {
    margin-top: 0;
    margin-bottom: 4px;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
}

.education-time {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
}

.projects-item {
    color: #595959;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;
}

.projects-item-link {
    color: #000;
    font-weight: 600;
    text-decoration: underline;
}

.work-experience-company-name {
    color: #000;
    font-size: 12px;
    margin-bottom: 4px;
}